In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv("suicide.csv")
df

,S#,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,...,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
0,1,Sunday-November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,NaN,Islamabad,33.718000,73.0718,Capital,...,None,14.0,15.0,NaN,60,2.0,NaN,NaN,15.835,60.503
1,2,Monday-November 6-2000,10 SHa`baan 1421 A.H,Working Day,NaN,NaN,Karachi,24.991800,66.9911,Sindh,...,None,NaN,3.0,NaN,3,1.0,NaN,NaN,23.770,74.786
2,3,Wednesday-May 8-2002,25 safar 1423 A.H,Working Day,NaN,7:45 AM,Karachi,24.991800,66.9911,Sindh,...,Christian,13.0,15.0,20.0,40,1.0,2.5 Kg,1.Jinnah Postgraduate Medical Center 2. Civil ...,31.460,88.628
3,4,Friday-June 14-2002,3 Raby` al-THaany 1423 A.H,Working Day,NaN,11:10:00 AM,Karachi,24.991800,66.9911,Sindh,...,Christian,NaN,12.0,NaN,51,1.0,NaN,NaN,31.430,88.574
4,5,Friday-July 4-2003,4 Jumaada al-awal 1424 A.H,Working Day,NaN,NaN,Quetta,30.209500,67.0182,Baluchistan,...,Shiite,44.0,47.0,NaN,65,1.0,NaN,1.CMH Quetta \n2.Civil Hospital 3. Boland Medi...,33.120,91.616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,488,Monday-July-17-2017,22 Shawaal 1432 A.H,Working Day,NaN,NaN,Peshawar,34.015000,71.5805,KPK,...,None,1.0,2.0,1.0,7,1.0,NaN,NaN,37.000,98.000
488,489,Monday-July-17-2017,22 Shawaal 1432 A.H,Working Day,NaN,NaN,Peshawar,34.015000,71.5805,KPK,...,None,1.0,1.0,1.0,1,1.0,NaN,NaN,37.000,98.000
489,490,Monday-July-24-2017,29 Shawaal 1432 A.H,Working Day,NaN,3:55pm,Lahore,31.500875,74.33312,Punjab,...,NaN,26.0,27.0,56.0,56,1.0,NaN,"Jinnah Hospital, General Hospital, Ittefaq Hos...",32.000,88.000
490,491,Saturday-August-12-2017,NaN,Weekend,NaN,5:00PM,Quetta,30.203658,67.004469,Balochistan,...,None,15.0,15.0,40.0,40,1.0,25KG,NaN,29.000,NaN
491,492,Thursday-October-05-2017,NaN,NaN,NaN,NaN,Quetta,28.571051,67.496895,Balochistan,...,NaN,21.0,22.0,25.0,NaN,1.0,NaN,"Larkana Hospital, Gandawah District Headquarte...",27.800,81.000

In [2]:
df['Province'].unique()

array(['Capital', 'Sindh', 'Baluchistan', 'Punjab', 'FATA', 'KPK', 'AJK',
       'Fata', 'Balochistan'], dtype=object)

In [3]:
df['Province'].replace(to_replace="Baluchistan",value="Balochistan",regex=True,inplace=True)

In [4]:
df['Province'].unique()

array(['Capital', 'Sindh', 'Balochistan', 'Punjab', 'FATA', 'KPK', 'AJK',
       'Fata'], dtype=object)

In [5]:
df['Province'].replace(to_replace="FATA",value="Fata",regex=True,inplace=True)

In [6]:
df['Province'].unique()

array(['Capital', 'Sindh', 'Balochistan', 'Punjab', 'Fata', 'KPK', 'AJK'],
      dtype=object)

In [7]:
df['City'].unique()

array(['Islamabad', 'Karachi', 'Karachi ', 'Quetta', 'Rawalpindi',
       'North waziristan', 'Kohat', 'Attock ', 'Sialkot', 'Lahore ',
       'Swat', 'Hangu', 'Bannu', 'North Waziristan', 'Lasbela',
       'Malakand ', 'Peshawar', 'Peshawar ', 'D.I Khan ', 'Lakki Marwat',
       'Tank', 'Islamabad ', 'Quetta ', 'Gujrat', 'Charsadda', 'Tank ',
       'Swat ', 'D.I Khan', 'Kohat ', 'Kuram Agency ', 'Shangla ',
       'Bajaur Agency', 'South Waziristan', 'Haripur', 'bannu',
       'karachi ', 'Sargodha', 'Nowshehra', 'Charsadda ',
       'Mohmand agency', 'Dara Adam Khel', 'Khyber Agency', 'Mardan',
       'Bhakkar ', 'Orakzai Agency', 'Mohmand Agency', 'Buner',
       'D.G Khan ', 'Pishin', 'Chakwal ', 'Lahore', 'Upper Dir',
       'Muzaffarabad', 'swat', 'Totalai', 'Multan', 'D.G Khan',
       'Lower Dir', 'Lakki marwat', 'Sudhanoti', 'Khyber Agency ',
       'peshawar', 'Poonch', 'Mansehra', 'Karak', 'Mohmand Agency ',
       'South waziristan', 'lakki marwat', 'Swabi ', 'Dara Adam khel',
       'karachi', 'Shikarpur', 'Sukkur', 'Chaman', 'D. I Khan',
       'Khanewal', 'Fateh Jang', 'Taftan', 'Tirah Valley', 'Wagah',
       'Zhob', 'KURRAM AGENCY', 'ATTOCK', 'MULTAN', 'Taunsa', 'Jacobabad',
       'Shabqadar-Charsadda', 'Khuzdar', 'Ghallanai, Mohmand Agency ',
       'Hayatabad', 'Mosal Kor, Mohmand Agency', 'Sehwan town',
       'Tangi, Charsadda District'], dtype=object)

In [8]:
df['City'].replace(to_replace="(peshawar)\s*|(Peshawar)\s*",value="Peshawar",regex=True,inplace=True)

In [9]:
df['City'].unique()

array(['Islamabad', 'Karachi', 'Karachi ', 'Quetta', 'Rawalpindi',
       'North waziristan', 'Kohat', 'Attock ', 'Sialkot', 'Lahore ',
       'Swat', 'Hangu', 'Bannu', 'North Waziristan', 'Lasbela',
       'Malakand ', 'Peshawar', 'D.I Khan ', 'Lakki Marwat', 'Tank',
       'Islamabad ', 'Quetta ', 'Gujrat', 'Charsadda', 'Tank ', 'Swat ',
       'D.I Khan', 'Kohat ', 'Kuram Agency ', 'Shangla ', 'Bajaur Agency',
       'South Waziristan', 'Haripur', 'bannu', 'karachi ', 'Sargodha',
       'Nowshehra', 'Charsadda ', 'Mohmand agency', 'Dara Adam Khel',
       'Khyber Agency', 'Mardan', 'Bhakkar ', 'Orakzai Agency',
       'Mohmand Agency', 'Buner', 'D.G Khan ', 'Pishin', 'Chakwal ',
       'Lahore', 'Upper Dir', 'Muzaffarabad', 'swat', 'Totalai', 'Multan',
       'D.G Khan', 'Lower Dir', 'Lakki marwat', 'Sudhanoti',
       'Khyber Agency ', 'Poonch', 'Mansehra', 'Karak', 'Mohmand Agency ',
       'South waziristan', 'lakki marwat', 'Swabi ', 'Dara Adam khel',
       'karachi', 'Shikarpur', 'Sukkur', 'Chaman', 'D. I Khan',
       'Khanewal', 'Fateh Jang', 'Taftan', 'Tirah Valley', 'Wagah',
       'Zhob', 'KURRAM AGENCY', 'ATTOCK', 'MULTAN', 'Taunsa', 'Jacobabad',
       'Shabqadar-Charsadda', 'Khuzdar', 'Ghallanai, Mohmand Agency ',
       'Hayatabad', 'Mosal Kor, Mohmand Agency', 'Sehwan town',
       'Tangi, Charsadda District'], dtype=object)

In [10]:
df['City'].replace(to_replace="(karachi)\s*|(Karachi)\s*",value="Karachi",regex=True,inplace=True)

In [12]:
df['City'].unique()

array(['Islamabad', 'Karachi', 'Quetta', 'Rawalpindi', 'North waziristan',
       'Kohat', 'Attock ', 'Sialkot', 'Lahore ', 'Swat', 'Hangu', 'Bannu',
       'North Waziristan', 'Lasbela', 'Malakand ', 'Peshawar',
       'D.I Khan ', 'Lakki Marwat', 'Tank', 'Islamabad ', 'Quetta ',
       'Gujrat', 'Charsadda', 'Tank ', 'Swat ', 'D.I Khan', 'Kohat ',
       'Kuram Agency ', 'Shangla ', 'Bajaur Agency', 'South Waziristan',
       'Haripur', 'bannu', 'Sargodha', 'Nowshehra', 'Charsadda ',
       'Mohmand agency', 'Dara Adam Khel', 'Khyber Agency', 'Mardan',
       'Bhakkar ', 'Orakzai Agency', 'Mohmand Agency', 'Buner',
       'D.G Khan ', 'Pishin', 'Chakwal ', 'Lahore', 'Upper Dir',
       'Muzaffarabad', 'swat', 'Totalai', 'Multan', 'D.G Khan',
       'Lower Dir', 'Lakki marwat', 'Sudhanoti', 'Khyber Agency ',
       'Poonch', 'Mansehra', 'Karak', 'Mohmand Agency ',
       'South waziristan', 'lakki marwat', 'Swabi ', 'Dara Adam khel',
       'Shikarpur', 'Sukkur', 'Chaman', 'D. I Khan', 'Khanewal',
       'Fateh Jang', 'Taftan', 'Tirah Valley', 'Wagah', 'Zhob',
       'KURRAM AGENCY', 'ATTOCK', 'MULTAN', 'Taunsa', 'Jacobabad',
       'Shabqadar-Charsadda', 'Khuzdar', 'Ghallanai, Mohmand Agency ',
       'Hayatabad', 'Mosal Kor, Mohmand Agency', 'Sehwan town',
       'Tangi, Charsadda District'], dtype=object)